/*
Credit: #
*/
body {
	margin: 0px;
	padding: 0px;
	color: #999294;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #fff;
}

a, a:link, a:visited { color: #e98236; font-weight: bold; text-decoration: none; }
a:hover { color: #990000; text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
em { color: #000; font-weight: bold; font-style: normal }
dm {color: #000000;font-size: 10px; text-decoration: none;}

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 28px; margin: 0 0 20px 0; padding: 5px 0 }
h2 { font-size: 25px; margin: 0 0 15px 0; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { clear: both; display: block; width: 60px; line-height: 20px; text-align: center; padding: 0px 20px 0 0; color: #666; font-weight: normal; background: url(images/templatemo_more.jpg) }
a.more:hover { text-decoration: none; color: #000; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 5px solid #fff; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }


.tmo_list { margin: 20px 0 20px 0; padding: 0; list-style: none }
.tmo_list li { color:#e98236; margin: 0; padding: 0 0 0 20px; background: url(images/templatemo_list.jpg) no-repeat scroll 0 7px  }
.tmo_list li a { color: #e98236; font-weight: normal }
.tmo_list li a:hover { color: #e98236 }

#templatemo_wrapper {
	width: 100%;
	margin: 0 auto
}

#templatemo_header {
	height: 80px;
	padding: 20px 0;
	border-bottom: 0px solid #253746;
}
#site_title { float: center; }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width:600px; height: 100px; color: #F60; text-indent: -10000px; background: url(images/logo.jpg) no-repeat center; }



/* menu */
#templatemo_menu {
	float: center;
	clear: both;
	width: 100%;
	padding: 5px 0 0 0;
	background: url(images/templatemo_menu.jpg) repeat-x bottom ;
}

#templatemo_menu ul {
	
	float: center;
	width: 700px;
	margin: 15px;margin-left: 220px;
	padding: 0 10px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
	
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	padding: 0 25px 5px 25px;
	margin: 0 5px 0 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: black;	
	font-weight: normal;
	outline: none;
	border: none;
	background: url(images/templatemo_menu_divider.png) center right no-repeat
}

#templatemo_menu ul li a:hover, #templatemo_menu ul li .current { color: black; border-bottom: 4px solid #0C9CE3 }


#searchfield { height: 17px; width: 125px; padding: 0 5px 3px 5px; font-size: 12px; color: #999; line-height: 0; background: none; border: none; } 
#searchbutton { height: 17px; width: 20px; padding: 0; margin: 0; cursor: pointer; background: none; border: none; }

/* end of menu */

#slider { 
	clear: both;
	width: 960px;
	height: 280px;
	margin: 20px 0;
	overflow: hidden
}

#templatemo_main {
	clear: both;
	width: 960px;
	padding: 20px 0;
}

.col_w960 { width: 960px; margin-bottom: 40px }
.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; margin-right: 30px }
.col_last { margin: 0 }

.lbe_box { clear: both; margin-bottom: 20px }
.lbe_box h3 { font-size: 16px; margin-bottom: 5px }

.lp_box { float: left; width: 300px; margin-right: 30px }

.lp_box_last { margin: 0 }
.lp_box img { border: 0px solid #CCC; padding: 0px }

.news_box { clear: both; margin-bottom: 30px }
.news_box h2 { font-size: 20px; margin-bottom: 0 }
.news_box p.date { color: #cb5c02 }
.news_box img { float: left; width: 100px; height: 100px; padding: 4px; border: 1px solid #ccc; margin-right: 30px }
.news_box a.more { float: right; }

.post_box { clear: both; margin-bottom: 30px }
.post_box h2 { font-size: 20px; margin-bottom: 10px }
.post_box p.post_meta { margin-bottom: 0 }
.post_box p span.cat a { color: #cb5c02; font-weight: 400 }
.post_box img { float: left; width: 160px; height: 160px; padding: 4px; border: 1px solid #ccc; margin-right: 30px }
.post_box a.more { float: right; }

#map img { width: 190px; height: 150px; border: 1px solid #999; padding: 4px }

#gallery { margin: 0; padding: 0 }
#gallery ul { margin: 0; padding: 0; list-style: none }
#gallery ul li { display: block; float: left; width: 280px; margin: 0 30px 30px 0; padding: 8px; border: 1px solid #ccc }
#gallery ul .lmb { margin: 0 0 30px 0; }
#gallery ul li a img { border: 1px solid white; margin-bottom: 5px }

#contact_form { padding: 0; width: 400px }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 270px; color: #333; padding: 5px; border: 1px solid #ccc;  background: #fff; }
#contact_form form label { display: block; width: 600px; /*margin-right: 10px*/; font-size: 13px; color: #000; text-align: left;}

#contact_form form textarea { 
	width: 388px; 
	height: 200px; 
	padding: 5px; 
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;  
	background: #fff; 
}

#contact_form form .submit_btn { 
	margin: 5px 0px; 
	padding: 5px 14px; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size: 12px; 
	border: 1px solid #CCC; 
	background: #fff; 
}


#templatemo_footer {
	position: absolute;
	left: 0;
	clear: both;
	width: 100%;
	height: 200px;
	line-height: 50px;
	padding: 10px 0;
	text-align: center;
	color: #FFFFFF;
	border-top: 0px solid #CCC;
	border-bottom: 0px solid #CCC;
	margin-bottom: 20px;
	background-color: #253746;
}

#templatemo_footer a {
	font-weight: normal;
	color: #000;
}
#waterfall{ text-align:center; width:1000px; margin:0 auto;}
#waterfall img{ width:203px;}
#waterfall .cell{ padding:0; width:207px;border:1px solid #E3E3E3; margin-top:10px; border-radius: 10px;}
#waterfall .cell:hover{box-shadow: 0px 2px 3px 1px #999;}

#product { margin: 0; padding: 0; margin-right: 5px; }
#product ul { margin: 0; padding: 0; list-style: none }
#product ul li { display: block; float: left; width: 280px; margin: 0 30px 30px 0; padding: 8px; border: 1px solid #ccc }
#product ul .lmb { margin: 0 0 30px 0; }
#product ul li a img { border: 1px solid #ccc; margin-bottom: 5px }
